#progress-container {
    margin-top: 20px;
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

#progress-bar {
    height: 30px;
    line-height: 30px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}